<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="be.ehb.proj.mybfpapp"
    package="be.ehb.proj.basicbfpapplication"
    package="be.ehb.version1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".UserCoronaDetailsActivity" />
        <activity android:name=".CoronaResult" />
        <activity android:name=".MainActivity">

        <activity android:name=".view.UserResults"/>
        <activity android:name=".view.UserDetails"/>
        <activity android:name=".view.MainActivity">
        <activity android:name=".ListActivity" />
        <activity android:name=".InputActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>